{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cherry.css' %}">
</head>
<body style="background-image: url('{% static "images/rab.jpg" %}');">
    <center>
        <h1>MDB5 BOOTSTRAP CONNECTING(PLAIN JAVA SCRIPT)</h1>
        <h1 class="btn btn-primary">I.DEVIPRASAD</h1><br>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">C</span>
          </div>
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">H</span>
          </div>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">A</span>
          </div>
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">R</span>
          </div>
          <div class="spinner-border text-warning" role="status">
            <span class="sr-only">D</span>
          </div>
          <div class="spinner-border text-info" role="status">
            <span class="sr-only">E</span>
          </div>
          <div class="spinner-border text-light" role="status">
            <span class="sr-only">V</span>
          </div>
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">I</span>
          </div><br>
        <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button><br>

    </center>
    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>